<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    
</head>
<body>
    <div style="width: 60%; height:100px;margin-left:20%; margin-top: 0%;">
        <div style="font-size: 30px; background-color:aliceblue; width: 100%; height:100px;">
            <center>社員情報システム</center>
        </div>
    </div>
    <div id="app">
    <div style="background-color:aliceblue ; width: 60%; margin-left:20%; margin-top: 1%;">
      <table class="table basicinfo-table table-hover">
        <thead>
          <tr>
            <td>社員ID</td>
            <td><input type="text" class="form-control" id="name" placeholder="社員ID" v-model="staffid">
          </td>
            <td>名前</td>
            <td><input type="text" class="form-control" id="name" placeholder="名前" v-model="name">
          </td>
            <td>フリガナ</td>
            <td><input type="text" class="form-control" id="name" placeholder="フリガナ" v-model="furigana">
          </td>
          </tr>
          <tr>
            <td>入社年月日</td>
            <td><input type="text" class="form-control" id="name" placeholder="入社年月日" v-model="enterdate">
          </td>
            <td>メール</td>
            <td><input type="text" class="form-control" id="name" placeholder="メール" v-model="mail">
          </td>
            <td>住所</td>
            <td><input type="text" class="form-control" id="name" placeholder="住所" v-model="address">
          </td>
          </tr>
        </thead>
      </table>
      <div class="container">
        <button type="button" class="btn btn-primary" v-on:click="search" >検索</button>
        <button type="button" class="btn btn-primary" v-on:click="clear">クリア</button>
        <div style="float:right;"><button type="button" class="btn btn-primary" v-on:click="add">追加</button></div>
      </div>
    </div>

        <!--1．VUEでaxiosを使ってインタフェースを呼び出す方式-->
        <div style="background-color:aliceblue; width: 60%; margin-left:20%; margin-top: 1%;"><h4>1．VUEでaxiosを使ってインタフェースを呼び出す方式</h4></div>
        <div style="background-color:aliceblue; width: 60%; margin-left:20%;">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th><h4>社員ID</h4></th>
                  <th><h4>名前</h4></th>
                  <th><h4>フリガナ</h4></th>
                  <th><h4>入社年月日</h4></th>
                  <th><h4>メール</h4></th>
                  <th><h4>住所</h4></th>
                  <th><h4>删除</h4></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user,index) in users" :key="index" v-cloak>
                    <td>{{ user.ID }}</td>
                    <td>{{ user.NAME }}</td>
                    <td>{{ user.FURIGANA }}</td>
                    <td>{{ user.ENTERDATE }}</td>
                    <td>{{ user.MAIL }}</td>
                    <td>{{ user.Address }}</td>
                    <td><button type="button" class="btn btn-primary" v-on:click="del(index)">削除</button></td>
                </tr>
              </tbody>
            </table>
      </div>
</div>
    <!--2．ejsでDBからデータを引っ張る方式-->
    <div style="background-color:aliceblue; width: 60%; margin-left:20%; margin-top: 1%;"><h4>2．ejsでDBからデータを引っ張る方式</h4></div>
    <div style="background-color:aliceblue; width: 60%; margin-left:20%;">
        <table class="table table-hover">
            <thead>
              <tr>
                <th><h4>社員ID</h4></th>
                <th><h4>名前</h4></th>
                <th><h4>フリガナ</h4></th>
                <th><h4>入社年月日</h4></th>
                <th><h4>メール</h4></th>
                <th><h4>住所</h4></th>
              </tr>
            </thead>
            <tbody>
              <% item.forEach(function (value) { %>
                <tr>
                    <td><%= value.ID %></td>
                    <td><%= value.NAME %></td>
                    <td><%= value.FURIGANA %></td>
                    <td><%= value.ENTERDATE %></td>
                    <td><%= value.MAIL %></td>
                    <td><%= value.Address %></td>
                </tr>
                <% }); %>
            </tbody>
          </table>
    </div>


  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm=new Vue({
          el: '#app',
          data: {
            message: 'Search/Filter In Table',
            users:[],
            staffid:'',
            name:'',
            furigana:'',
            enterdate:'',
            mail:'',
            address:''
          },
          methods:{
            clear:function(){
              this.staffid='';
              this.name='';
              this.furigana='';
              this.enterdate='';
              this.mail='';
              this.address='';
            },
            search:function(){
              axios.post('http://127.0.0.1:3333/infosearch',[{name:"ID",value:this.staffid},{name:"NAME",value:this.name}, {name:"FURIGANA",value:this.furigana},{name:"ENTERDATE",value:this.enterdate},{name:"MAIL",value:this.mail},{name:"Address",value:this.address}])
                  .then(response => this.users = response.data)
            },
            add:function(){
              window.location.href='http://127.0.0.1:3333/staffadd';
            },
            del(index){
              console.log(JSON.stringify(this.users[index].ID));
              window.location.href='http://127.0.0.1:3333/delete/'+this.users[index].ID;
            }
          },
          mounted(){
            axios.get('http://127.0.0.1:3333/info2')
                  .then(response => this.users = response.data)
          }
        })
        </script> 

</body>
</html>